<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Meta Description -->
  {% if page.description %}
    <meta name="description" content="{{ page.description | strip_html | truncate: 160 }}">
  {% elsif site.meta_description %}
    <meta name="description" content="{{ site.meta_description }}">
  {% endif %}

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.name }}">
  {% if page.description %}
    <meta property="og:description" content="{{ page.description | strip_html | truncate: 200 }}">
  {% elsif site.meta_description %}
    <meta property="og:description" content="{{ site.meta_description }}">
  {% endif %}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.author }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description | strip_html | truncate: 200 }}">
  {% elsif site.meta_description %}
    <meta name="twitter:description" content="{{ site.meta_description }}">
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/poole.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/hyde.css">
  <link rel="stylesheet" href="/assets/css/etagwerker.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
